body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  opacity: 0.5;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #888888;
  opacity: 0.9;
  color: white;
}

/* Style the header */
.header {
  background-color: #888888;
  opacity: 0.9;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  border: 0;
  height: 40px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn:hover {
  background-color: #bbb;
}

.bgImage {
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/*  asdf*/

.bottom-items {
  padding: 20px 20px 20px 27px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  align-items: baseline;
  border-radius: 5px;
  background: var(--todo-bg);
  position: fixed;
  bottom: 0;
  width: 100vw;
  align-items: center;
}

.filter {
  margin-right: 47px;
}

.filter input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter label {
  cursor: pointer;
  padding: 0 10px;
}

.filter label:hover {
  color: var(--font-color-hover);
}

.filter input[type="radio"]:checked ~ span {
  color: hsl(221, 62%, 52%);
}

.clear {
  color: var(--font-color);
  cursor: pointer;
}

.clear:hover {
  color: var(--font-color-hover);
}

.flex-row {
  background-color: rgb(148, 147, 147);
  display: flex;
  bottom: 0;
  width: 100vw;
  flex-flow: row nowrap;
  align-items: center;
}

.checkbox {
  min-width: none;
  min-height: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: auto;
  margin-right: 5px;
  border-radius: 50px;
  border: 1px solid lightgray;
  cursor: pointer;
  text-align: center;
  /* appearance: none; */
}
